{% extends 'blog/base.html' %}

{% block content %}

<div class="post">
    {% if user.is_authenticated %}
    <a href="{% url 'post_edit' pk=post.pk %}">Update Post</a>
    {% endif %}

    {% if post.published_date %}
        <div class="date">
            {{ post.published_date }}
        </div>
    {% else %}
        <a href="{% url 'post_publish' pk=post.pk %}">Publish</a>
    {% endif %}

    <h1>{{ post.title }}</h1>
    <p>{{ post.text|linebreaksbr }}</p>

    <a href="{% url 'post_remove' pk=post.pk %}">Delete</a>
</div>

{% endblock content %}
